---
import { aboutUsInfo } from "../data/aboutusinfo";
import Button from "@/components/ui/Button.astro";
const {
  sectionTitle,
  title,
  subtitle,
  description,
  buttonText,
  buttonLink,
  textAlign = "left",
} = aboutUsInfo;
const alignClass =
  textAlign === "center" ? "items-center text-center" : "items-start text-left";
---

<div
  class={`flex flex-col md:flex-row md:items-start justify-between w-full py-12 px-6 md:px-16 `}
>
  <div class={`flex flex-col flex-1 ${alignClass}`}>
    <span class="text-muted text-base font-medium mb-0.5">{sectionTitle}</span>
    <h2 class="text-3xl font-bold text-brand-primary-black leading-tight mb-6">
      {title}
      <br />
      {subtitle}
    </h2>
    <p class="text-lg text-brand-primary-black font-normal max-w-2xl">
      {description}
    </p>
  </div>
  {
    buttonText && buttonLink && (
      <div class="flex flex-col  items-start md:items-end flex-1 mt-6 md:mt-0 md:gap-34 gap-8">
        <Button
          variant="secondary"
          href={buttonLink}
          class="min-w-[120px] text-center py-3 px-6 text-sm font-semibold"
        >
          {buttonText}
        </Button>
        <div class="flex items-center gap-4 ">
          <div class="size-8 flex justify-center items-center  bg-brand-primary-yellow rounded-full">
            <span class="flex items-center justify-center">
              <i class="fi fi-br-angle-small-left" />
            </span>
          </div>
          <div class="size-8 flex justify-center items-center bg-brand-primary-yellow rounded-full">
            <i class="fi fi-br-angle-small-right" />
          </div>
        </div>
      </div>
    )
  }
</div>
