---
import type { IFaqBox } from "@/data/faqbox";
import Button from "@/components/ui/Button.astro";

interface Props {
  faqBoxData: IFaqBox;
}

const { faqBoxData } = Astro.props;
---

<div class="rounded-2xl border border-surface-2 p-6 flex flex-col items-start">
  <div class="mb-2 font-primary">
    <h3 class="text-2xl font-bold text-text">
      {faqBoxData.title}
    </h3>
    <h4 class="text-xl font-semibold text-text">
      {faqBoxData.subtitle}
    </h4>
  </div>

  <p class="mb-8 text-text leading-relaxed font-primary flex items-start">
    {faqBoxData.description}
  </p>
  <div class="font-bold text-secondary flex gap-2">
    <a href={`mailto:${faqBoxData.email}`}>
      <Button
        variant="primaryAlt"
        className="font-bold flex items-center! gap-1 border-2 mb-4"
      >
        <span class="font-bold relative top-0.5">
          <i class="fi fi-br-envelope"></i>
        </span>
        <span class="font-bold">{faqBoxData.email}</span>
      </Button></a
    >

    <div class="relative">
      <!-- Notification positioned absolutely above contact button -->
      <div
        id="notification"
        class="hidden absolute -top-5 left-1/2 transform -translate-x-1/2 text-xs text-muted px-2 py-1 rounded"
      >
        Copied
      </div>
      <Button
        variant="secondary"
        id="contactBtn"
        className="font-bold flex items-center! gap-1 border-2 border-brand-primary-yellow text-text!"
      >
        <span class="font-bold mr-1 rotate-90"
          ><i class="fi fi-br-phone-flip"></i>
        </span>
        <span class="font-bold">Contact Us</span>
      </Button>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    const contactBtnContainer = document.getElementById("contactBtn");
    const contactBtn =
      contactBtnContainer?.querySelector("a") ||
      contactBtnContainer?.querySelector("button");
    const notification = document.getElementById("notification");
    const phoneNumber = "+1234567890"; // Replace with actual phone number

    if (contactBtn && notification) {
      contactBtn.addEventListener("click", (e) => {
        e.preventDefault();
        navigator.clipboard.writeText(phoneNumber).then(() => {
          notification.classList.remove("hidden");
          setTimeout(() => {
            notification.classList.add("hidden");
          }, 1000);
        });
      });
    }
  };
</script>
